body{
    margin: 0 auto;
}


.mainhome {
    /* border: 1px solid purple; */
    width: 66%;
    margin-left: 22%;
    margin-top: 0;
} 


.headerhome {
    /* border: 1px solid black; */
    display: flex;
    height: 104px;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
} 

/* .sectionhome {
    border: 2px solid blue;
} */

footer {
    text-align: center;
}

.main {
    /* border: 1px solid purple; */
    width: 90%;
    margin-left: 6.6%;
    margin-top: 0;
} 

.header {
    /* border: 1px solid black; */
    display: flex;
    height: 104px;
    justify-content: space-between;
    align-items: center;
}

/* .section {
    border: 1px solid red;
} */

.img {
    /* border: 1px solid green; */
    height: 414px;
}

img {
    width: 100%;
    height: 100%;
}