<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body background="../static/img/fundo2.png">
    <main class="main">
        <header class="header">
            <div id="menu">
                <img src="../static/img/logo.png">
            </div>
            <nav>
                <ul>
                    <a href="/">Home</a>  |
                    <a href="/quem_somos">Quem Somos</a>  |
                    <a href="/contato">Contato</a>
                </ul>
            </nav>
        </header>
        <section class="section" >
        </section>
        <h2>Entre em contato</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, saepe.</p>
        <hr>
        <form method="POST" action="/contato" name="cadastro">
            Seu e-mail:<br>
                <input type="email" name="email" required>
            <br>
            Assunto:<br>
                <input type="text" name="assunto" required>
                <br>
            Descrição:<br>
                <textarea rows="2" cols="21" id="descricao" name="descricao" maxlength="300" minlength="20" required></textarea>
                <br>
            <button type="submit" value="Enviar">Enviar</button>
        </form>
        <footer>
            <h5>Todos os direitos reservados</h5>
        </footer>
    </main>
</body>
</html>


<!-- <form method="POST" action="/contato" name="cadastro">
    Seu e-mail:<br>
        <input type="email" name="ctto_email" required>
    <br>
    Assunto:<br>
        <input type="text" name="Assunto">
        <br>
    Descrição:<br>
        <textarea rows="2" cols="21" id="descricao" name="descricao" maxlength="300" minlength="20"></textarea>
        <br>
    <input type="submit" value="Enviar">
</form> -->


<!-- Seu e-mail:<br>
<input type="email" name="ctto_email" required>
<br>
Assunto:<br>
<input type="text" name="ctto_assunto" required>
<br>
Descrição:<br>
<textarea rows="2" cols="21" id="descricao" name="ctto_descricao" maxlength="300" minlength="20" required></textarea>
<br> -->