<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body background="../static/img/fundo.png">
    <main class="mainhome">
        <header class="headerhome">
            <div id="menu">
                <img src="../static/img/logo.png">
            </div>
            <nav>
                <ul>
                    <a href="/">Home</a> |
                    <a href="/quem_somos">Quem Somos</a> |
                    <a href="/contato">Contato</a>
                </ul>
            </nav>
        </header>
        <section class="sectionhome">
            <div class="img">
                <img src="../static/img/capa.png">
            </div>
            <div>
                <h2>Sobre a universidade</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eos laudantium, saepe aliquam eveniet odio consequuntur, quisquam, doloribus architecto dolorem iusto at cum corporis eaque quod corrupti perferendis. Explicabo voluptatibus blanditiis sed repudiandae, minima hic ipsa? Expedita dolorem quam assumenda error fuga esse praesentium aliquid, maxime minus non nulla odio. Maxime, quas nihil dolorum quis ipsam, quod distinctio laudantium amet soluta quisquam explicabo? Magni quaerat tenetur, repellendus ab architecto atque. Hic aliquid maiores provident suscipit, adipisci a ipsum ad vero facere ex est consequatur mollitia. Facilis itaque numquam architecto odit non eius ex rerum id, voluptas, modi et quo eligendi?</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eos laudantium, saepe aliquam eveniet odio consequuntur, quisquam, doloribus architecto dolorem iusto at cum corporis eaque quod corrupti perferendis. Explicabo voluptatibus blanditiis sed repudiandae, minima hic ipsa? Expedita dolorem quam assumenda error fuga esse praesentium aliquid, maxime minus non nulla odio. Maxime, quas nihil dolorum quis ipsam, quod distinctio laudantium amet soluta quisquam explicabo? Magni quaerat tenetur, repellendus ab architecto atque. Hic aliquid maiores provident suscipit, adipisci a ipsum ad vero facere ex est consequatur mollitia. Facilis itaque numquam architecto odit non eius ex rerum id, voluptas, modi et quo eligendi?</p>
            </div>
        </section>
        <footer>
            <h5>Todos os direitos reservados</h5>
        </footer>
    </main>
</body>
</html>