<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body background="../static/img/fundo2.png">
    <main class="main">
        <header class="header">
            <div id="menu">
                <img src="../static/img/logo.png">
            </div>
            <nav>
                <ul>
                    <a href="/">Home</a> |
                    <a href="/quem_somos">Quem Somos</a> |
                    <a href="/contato">Contato</a>
                </ul>
            </nav>
        </header>
        <section class="section" >
            <h2>Quem somos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laudantium est inventore repudiandae ab voluptatibus maiores quidem recusandae officiis! Nesciunt assumenda facilis vitae suscipit enim labore eius corporis quisquam similique quasi repellat ab mollitia laboriosam explicabo obcaecati aperiam tempora beatae molestiae, recusandae eveniet eum atque aspernatur facere harum? Ea fuga illo provident! Molestiae, aperiam cum facere iusto nihil accusamus recusandae nam error ut magni ad aspernatur nemo. Consectetur omnis delectus perspiciatis dolorem magnam culpa eum itaque laborum voluptate? Repellendus quam harum ullam modi quisquam laudantium magni officia quis repellat ipsa, neque quidem error consequatur cupiditate impedit iure illum ex architecto?</p>
            <h3>5 motivos para estudar</h3>
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professor renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
            <hr>
            <h2>Objetivos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consequuntur minima suscipit, ab et quis quasi recusandae tempore, ex, quod neque deleniti? Dolorem ducimus dicta esse et molestiae. Laudantium placeat libero dolore nesciunt voluptatem maxime eum animi illo nostrum dolorum consequatur, magni natus totam recusandae at voluptatum esse. Veniam expedita ad, amet consequuntur vel et labore esse, quisquam pariatur praesentium ratione asperiores eligendi odio reiciendis sapiente possimus cum repellendus, accusamus quasi modi recusandae tempora eos odit? Dignissimos nobis non eligendi nam reiciendis vitae placeat, porro repellendus quaerat blanditiis quam? Laudantium eligendi perferendis totam, accusamus vitae quo voluptatum eum dolorem eaque!</p>
        </section>
        <footer>
            <h5>Todos os direitos reservados</h5>
        </footer>
    </main>
</body>
</html>